api/vendor/
supabase/.temp/
api/.env
api

# Desktop app files

# Logs
Colix-AI-Desktop-App/logs
Colix-AI-Desktop-App/*.log
Colix-AI-Desktop-App/npm-debug.log*
Colix-AI-Desktop-App/yarn-debug.log*
Colix-AI-Desktop-App/yarn-error.log*
Colix-AI-Desktop-App/pnpm-debug.log*
Colix-AI-Desktop-App/lerna-debug.log*

# Build outputs
Colix-AI-Desktop-App/release
Colix-AI-Desktop-App/dist
Colix-AI-Desktop-App/dist-ssr
Colix-AI-Desktop-App/dist-electron

# Python
Colix-AI-Desktop-App/__pycache__
Colix-AI-Desktop-App/python-dist
Colix-AI-Desktop-App/*.spec
Colix-AI-Desktop-App/.venv

# Dependencies
Colix-AI-Desktop-App/node_modules

# Env
Colix-AI-Desktop-App/.env
Colix-AI-Desktop-App/.env.*
!Colix-AI-Desktop-App/.env.example

# Editor directories and files
Colix-AI-Desktop-App/.vscode/*
!Colix-AI-Desktop-App/.vscode/extensions.json
Colix-AI-Desktop-App/.idea
Colix-AI-Desktop-App/*.suo
Colix-AI-Desktop-App/*.ntvs*
Colix-AI-Desktop-App/*.njsproj
Colix-AI-Desktop-App/*.sln
Colix-AI-Desktop-App/*.sw?

# Local
Colix-AI-Desktop-App/*.local

# macOS
Colix-AI-Desktop-App/.DS_Store
Colix-AI-Desktop-App/.AppleDouble
Colix-AI-Desktop-App/.LSOverride
Colix-AI-Desktop-App/Icon?
Colix-AI-Desktop-App/._*
Colix-AI-Desktop-App/.Spotlight-V100
Colix-AI-Desktop-App/.Trashes
Colix-AI-Desktop-App/*.icns
Colix-AI-Desktop-App/icon.iconset/

# Linux
Colix-AI-Desktop-App/*~
Colix-AI-Desktop-App/.fuse_hidden*
Colix-AI-Desktop-App/.directory
Colix-AI-Desktop-App/.Trash-*
Colix-AI-Desktop-App/.nfs*

# Windows
Colix-AI-Desktop-App/Thumbs.db
Colix-AI-Desktop-App/Thumbs.db:encryptable
Colix-AI-Desktop-App/ehthumbs.db
Colix-AI-Desktop-App/Desktop.ini
Colix-AI-Desktop-App/$RECYCLE.BIN/
Colix-AI-Desktop-App/*.lnk

# PyInstaller temp
Colix-AI-Desktop-App/build/listener/
Colix-AI-Desktop-App/listener.exe
Colix-AI-Desktop-App/listener